*{
    margin: 0;
    font-family:Arial;
    border: border-box;
}
body{
    background-color: #e3e6e6;
}
/* *******************HEADER STARTED********************* */
.navbar{
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* LOGO BOX */
.nav-logo{
    height: 50px;
    width: 100px;
    margin-left: 13px;
    
}
.logo{
    background-size: cover;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.8px solid white;
    border-radius: 3px;
}
/* ADDRESS BOX */
.address-icon{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.deliverto{
    color: #cccccc;
    font-size: 0.78rem;
    margin-left: 35px;
    
}
.india{
    color: white;
    font-size: 0.93rem;
    font-weight: 548;
    margin-left: 4px;
}
/* SEARCH BOX */
.nav-search{
    display: flex;
}
.nav-search:hover{
    border: 2px solid orange;
    border-radius: 7px;
}
.search-select{
    height: 40px;
    width: 55px;
    border: none; 
    text-align: center;
    background-color: #f3f3f3;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search-input{
    width: 625px;
    border: none;
    font-size: 0.90rem; 
    padding-left: 8px;
}
.search-icon{
    width: 45px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3a847;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 21px;
    color: black
}
/* Language box */
.languagebox img{
    display: flex;
    height: 16px;
    width: 50px;
}
/* SIGN IN BOX */
.signin{
    color: #cccccc;
    font-size: 0.73rem;
}
.al{
    font-size: 0.93rem;
    /* font-weight: 548; */
    font-weight: 600;
}
/* CART BOX */
.cart{
    display: flex;
    align-items: end;
}
/* NAVBAR2 */
.navbar2{  
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #232f3e;
}
.headings{
    display: flex;
}
.headings a{
    font-size: 0.875rem;
    padding-left: 20px;
    text-decoration: none;
    color: white;
}
.bars{
    height: 14px;
    width: 17px;
    color: white;
    display: flex;
    padding-left: 15px;
    padding-right: 20px;
}
.bars a{
    font-weight: 700;
    padding-left: 5px;
    padding-right: 50px;
    text-decoration: none;
    color: white;
}
/* *******************HEADER COMPLETED********************* */
/* *******************BODY STARTED**************************/
/* IMAGES SLIDER */
.image-container{
    cursor: pointer;
    position: relative;
    width: 1500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}
.image-list{
    display: flex;
    overflow-y: hidden;
    
}
.image-item{
    min-width: 100%;
    transition: transform 0.3s;
}
.image-list img{
    width: 100%;
    height: 100%;

}
.btn-container{
    position: absolute;
    display: flex;
    top: 0;
    justify-content: space-between;
    width: 100%;

}
.slider-btn{
    cursor: pointer;
    padding: 100px 20px;
    font-size: 50px;
    font-weight: 1000;
    background-color: transparent;
    border: none;
    
}
.slider-btn i{
    height: 52px;
    width: 34px;
}
.slider-btn:focus{
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;
}
.right-btn:focus{
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 4px #008296;
}
.mask{
    mask-image: linear-gradient(to bottom,#000000 50%,transparent 100%);
}
/* SHOPPING CARDS */
.row1{
    position: relative;
    top: -270px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}
.box{
    padding-top: 20px;
    padding-bottom: 15px;
    height: 385px;
    width: 312.250px;
}
.box h2{
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
}
.box1{
    background-color: white;

}
.card1{
}
.inner-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 40px;
}
.box a:hover{
    color: rgb(255, 94, 0);
}
.box1 a{
    cursor: pointer;
    width: none;
    padding: 0 20px;
    text-decoration: none;
    color: #007185;
}
.card1 img{
    height: 102px;
    width: 128px;
    object-fit: cover;
}
.spacing{
    padding-top: 30px;
}
.row2{
    padding-top: 25px;
}
.row3{
    padding-top: 25px;
}
.shopping-cards{
    height: 1065px;
}
/* *******************BODY COMPLETED**************************/
/* *******************FOOTER STARTED**************************/
.back-t-p{
    cursor: pointer;
    display: flex;
    justify-content: center;
    color: #fffcfa;
    background-color: #2e3e51;
    font-size: 13px;
    height: 22px;
    width: 1498.890px;
    padding: 15px 0;
    margin-left: auto;
    margin-right: auto;
}
.back-t-p:hover{
    background-color:#3f5671 ;
}
.middlefooter{
    background-color: #232f3e;
    display: flex;
    padding-top: 46px;
    justify-content: space-evenly;
    height: 340px;
    width: 1498.890px;
    margin-left: auto;
    margin-right: auto;
}
.middlefooter a{
    cursor : pointer;
    font-size: 0.90rem;
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #dddddd;
}
.middlefooter a:hover{
    text-decoration: underline;
}
.middlefooter p{  
    color: white;
    font-weight: 600;
}
.logofooter{
    height: 100px;
    width: 1498.890px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.4px solid #3a4553;
    background-color: #232f3e;
    margin-left: auto;
    margin-right: auto;
}
.amazonfooter-box img{
    cursor: pointer;
    height: 22.986px;
    width: 75.990px;
}
.amazonfooter-box{
    padding-left: 400px;
}

.english-box{
    margin-left: 6px;
    cursor: pointer;
    border: 1.11px solid #848688;
    display: flex;
    
}
.english-box img{
    height: 15px;
    width: 15px;
    padding-right: 10px;
}
.english-box p{
    color: #dddddd;
}
.english-box i{
    padding-left: 5px;
    color: #666666;
}
.dollar-sign i{
    padding-right: 8px;
    color: white;
}
.usa-logo{
    padding-left: 6px;
    
}
.finalfooter{
    padding-top: 50px;
    height: 100px;
    background-color:#131a22 ;
    text-align: center;
}
.finalfooter a{
    font-size: 0.85rem;
    color:#dddddd ;
    padding-left: 10px;
    text-decoration: none;
}
.finalfooter a:hover{
    text-decoration: underline;
}
.finalfooter img{
    padding-left: 8px;
    padding-top: 6px;
    height:13.993px;
    width: 28px;
}
.finalfooter p{
    color: #ddd;
    font-size: 0.85rem;
    text-align: center;
    padding-top: 10px;
}
/*********************************** FOOTER COMPLETED **********************************/